body{
    font-family: Arial,sans-serif;
    background-color: rgba(226, 226, 226, 1);
    margin:0;
    padding:0;
}   
.logotipo{
    padding-left: 855px;
}
/*header*/         
.header{
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: center;
}

.header .nav-links{
    list-style: none;
    font-size: 20px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1; 
}

.header .nav-links a:hover{
    color: #0076fd;
}


.header .btn button,
/**/.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #333;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
/**/.header .menu button:hover{
    background-color: #e2f1f8;
    color: #0076fd;
    transform: scale(1.1);
}
@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}


/*Nav Mobile*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(3, 3, 3, .85);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*footer*/
footer{
    background-color:rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px 0;
}
.navegador{
    background-color:rgb(0, 0, 0);
    text-align: center;
}

/*menu*/

.sidebar{
    width: 98.45%;
    height: 25px;
    padding: 10px;
    padding-left: 20px;
    background: rgb(255, 255, 255);
    color: white;
    display: flex;
}
.social-links{
    padding-left: 85%;
}
.sidebar ol{
    list-style: none;
}
.sidebar ol li{
    margin: 15px 0;
}
.sidebar ol li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Arial Narrow';
}
.cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.galeria-menu{
    display:inline;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    

}
.imagen-menu{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.imagen-menu:hover::before{
    opacity: 1;
    transform: translateY(0);
}
/*MODAL CSS USANDO CHECKBOX*/
input[type="checkbox"]{
        display: none;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
.modal-content0{
    background: rgb(255, 255, 255, 0.855);
    padding: 0px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    text-align: left;
    position: relative;
    font-size: 25px;
}
.modal-content0 img .social-links{
    max-width: 10%;
    border-radius: 8px;
}
.cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}
/*Mostrar Modal cuando el checkbox, se encuentre activo*/
#img0:checked ~ .modal#modal0{
    opacity: 1;
    pointer-events: all;
}


/*productos*/
.modelos-item{
    background-color: rgba(159, 159, 159, 0.356);
    padding: 0px;
    border-radius: 0px;
    box-shadow: 3px 0 3px 0px rgb(49, 49, 49, 0.3);
    width: 400px;
}
.modelos-item img{
    height: 350px;
    width: 150px;
}
.section{
    align-content: center;
    display: flex;
    width: 1;
}
.section img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: 1;
transition: 0.5 ease;
}
.section img:hover{
    cursor: crosshair;
    width: 250px;
    height: 350px;
    opacity: 1;
    filter: contrast(120%);
}
.modelos-item h3{
    margin: 10px 0;
    color: black;
    padding-left: 10px;
}
.modelos-item h5{
    color: black;
    padding-left: 10px;
}
.modelos-item p{
    color: black;
    padding-left: 10px;
}
section {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
    flex-wrap: wrap;
}










h2{
text-align: right;
margin: 0 20px;
font-family:Arial;
text-decoration: none;
color: black;
font-size: 20px;
}

h1{
    margin: 0;  
}

.container{
    display:flexbox;
    flex: 2;
    height: 100%;
    width: 100%;
} 

.registrate{
font-family: 'Courier New', Courier, monospace;
background-color: yellow;
padding: 40px;
height: 20px;
margin: o;
}
.registrate a{
text-decoration: none;
color: black;
font-size: 20px;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/* menu HOME */
.contenedor {
    display: flex;
    flex-direction:column; /* Imagen arriba, semáforo debajo */
    align-items: center;
    margin:auto;
    margin-bottom: 2vw;
    margin-top: 2vw;
    width: fit-content;
    height: fit-content;
    }
.buttom-div-how{
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: flex;
    align-content: flex-start;
}
.how-it-works {
    margin:  auto;
    margin-top: 1vw;
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    background-color: #0077ff;
    color: white;
    opacity: 1;
    border-radius: 30px; 
}
.how-it-works-two{
    margin:  auto;
    margin-top: 1vw;
    margin-right: 0px;
    font-size: 16px;
    display: flex;
    background-color: #0076fd;
    color: white;
    opacity: 1;
    border-radius: 5px; 
}
.how-it-works-tree{
    margin:  auto;
    margin-top: 1vw;
    margin-right: 20px;
    margin-left: 1%;
    font-size: 16px;
    display: flex;
    background-color: #0076fd;
    color: white;
    opacity: 1;
    border-radius: 5px; 
}
/*ICONOS DEL CANDADO Y SOLES*/
.icon {
    width: 16px;   
    height: 16px;
    margin-right: 8px;  
    vertical-align: middle;
}
.imagen-menu1{
   margin-left: 10%;
   margin-right:  10%;
}
.xcontainer-1 , .xcontainer-2, .xcontainer-3{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 4px rgb(49, 49, 49, 0.3);
    text-decoration: none;
    color: black;
}
.img-container{
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.xcontainer-text{
    background: #ffffff;
    display: flex;
    padding-inline: 20px;
    text-align-last: center ;
    justify-content: center;
}
.xcontainer-text-title{
    background-color: #ffffff;
    display: flex;
    padding-inline: 0px;
    text-align:center;
    justify-content: center;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Banner con imágenes */
    #banner a {
    display: none;
    }
    #banner a.activa {
    display: block;
    }
    .imagen-banner {
    width: 80%;       /* Ocupa todo el ancho disponible */
    height: fit-content;      /* Mantiene proporción */
    display: block;
    object-fit: cover;
    border: white;      /* Podés dejarlo si no querés marco */
    margin-bottom: 20px;    
    }
    
  /* Semáforo debajo de la imagen */
    #semaforo {
    display:flex;
    background: #000000;
    padding: 30px;
    padding-left: 600px;
    justify-content: center;
    }
    .luz {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 0%;
    margin-left: 20px;
    opacity: 0.3;
    transition: opacity 0.3s;
    }
    .luz.activa {
    opacity: 1;
    }
  /* Botón centrado */
    button {
    margin:  auto;
    padding: 10px 20px;
    margin-top: auto;
    font-size: 16px;
    display: flex;
    background-color: #000000;
    color: white;
    opacity: 1;
    border-radius: 5px;
    }
    button:hover{
        background-color: #f4f4f4;
        color: #000000;
        opacity: 1;
    }
    